@font-face {
    src: url(fonts/cookie/Cookie-Regular.ttf);
    font-family: 'Cookie Regular';
}

@font-face {
    src: url(fonts/raleway/Raleway-Regular.ttf);
    font-family: 'Raleway';
}

@font-face {
    src: url(fonts/raleway/Raleway-Bold.ttf);
    font-family: 'Raleway Bold';
}

body {
    font-family: 'Raleway';
    margin: 0px auto;
    /* line-height: 66pt; */
}

a:hover {
    color: #fed136;
}

.group1 {
    background: url(images/header.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 900px;
}
.group1 .home{
    margin-left: -15px;
}
.group1 #navbarResponsive{
    margin-right: -50px;
}
.group1 .navbar {
    padding-top: 63px;
    background: transparent;
    transition: 0.5s ease-out;
}

.group1 .navbar-toggler i:active {
    outline: none!important;
}

.group1 .nav-link, .group1 .navbar-brand {
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    margin-right: 30px;
    color: #fff;
    font-weight: bold;
}

.group1 a {
    color: #fff;
    font-family: 'Raleway';
}

.group1 a:hover {
    color: #fed136;
}

.group1 .content {
    text-align: center;
    margin-top: 110px;
    width: 100%;
    height: auto;
    position: absolute;
}

.group1 .content .text {
    background: #e6e3e396;
    padding-top: 110px;
    padding-bottom: 100px;
}

.group1 .text p {
    font-family: 'Cookie Regular';
    font-size: 115px;
    color: #2c3a42;
}

.group1 .text h3 {
    font-size: 75px;
    color: #ad6c12;
    text-transform: uppercase;
    /* font-weight: bold; */
    margin-top: -56px;
    font-family: 'Raleway Bold';
}

.group1 .text button {
    font-weight: bold;
    padding: 5px 35px;
    text-transform: uppercase;
    font-size: 42px;
    margin-top: 0px;
    border: none;
    background: #fff;
    color: #26363a;
    font-family: 'Raleway';
}

@media screen and (max-width: 576px) {
    .group1 .content {
        margin-top: 200px;
    }
    .group1 .text {
        padding-top: 50px!important;
        padding-bottom: 50px!important;
    }
    .group1 .text h3 {
        font-size: 60px;
    }
    .group1 .text button {
        font-size: 25px;
        margin-top: 30px;
    }
    .group3 {
        padding-top: 10px;
    }
    .group3 .col1 {
        padding: 10px 20px!important;
    }
}

.group2 {
    width: 100%;
    background: #2a3b40;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.group2 .text-left {
    color: #fff;
    padding-top: 120px;
}

.group2 .text-left h3 {
    font-size: 30px;
}

.group2 .text-left p {
    padding-top: 40px;
}

.group2 .img-right img {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.group3 {
    background: #d4d8d9;
}
.group3 .col1 {
    padding: 50px 0px;
    color: #2a3b40;
    font-family: 'Raleway';
}

.group3 .col1-left{
    margin-left: 0px!important;
}

.group3 .col1-right{
    margin-right: 0px!important;
}

.group3 .icon, .group3 h3 {
    padding-bottom: 30px;
    font-size: 25px;
}

.group4 {
    background: url(images/img9.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
}

.group4 .title {
    background: #e6dcdcbf;
    border-bottom: 1px solid #fff;
}

.group4 .title h3 {
    font-family: 'Cookie Regular';
    font-size: 70px;
    text-align: center;
    padding-top: 10px;
    color: #304751;
    padding-top: 40px;
}

.group4 .title p {
    text-transform: uppercase;
    font-size: 48px;
    color: #ad6c12;
    text-align: center;
    margin-top: -35px;
    font-family: 'Raleway';
    /* font-weight: 500!important; */
}

.group4 .one-food {
    text-align: center;
    color: #304751;
    font-family: 'Raleway';
}

.group4 .info-food {
    padding: 40px!important;
}

.group4 .one-food .info-food h4 {
    text-transform: uppercase;
    font-family: 'Raleway Bold';
    padding-bottom: 30px;
}

.group4 .one-food .info-food p {
    padding-bottom: 15px;
}

.group4 img {
    width: 100%;
}

.group4 .info-food {
    background: #e6dcdcbf;
}

.group4 .no-padding [class*='col-'] {
    padding: 0px;
}

.group5 {
    background: #d4d8d9;
    position: relative;
    height: 375px;
    padding: 0px;
    font-family: 'Raleway'
}

.group5 .img img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 375px;
}

.group5 .text {
    text-align: center;
    padding-top: 80px;
    color: #2a3b40;
}

.group5 .text .icon {
    font-size: 30px;
    cursor: pointer;
    padding-top: 20px;
}

.active, .group5 .text .icon i:hover {
    color: #fed136;
}

.group5 .icon i {
    transition: color 0.8s ease;
}

.group5 .text ul li a:hover {
    color: red;
}

.group5 .text .nav_sub {
    padding-top: 30px;
}

.group5 .text ul li a {
    color: #2a3b40;
    text-decoration: none;
}

.group5 .text .nav_sub ul li {
    display: inline-block;
    list-style: none;
    padding-right: 20px;
}

.group5 .text h3 {
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 20px;
}

.group5 .mySlides {
    display: none;
}

.group6 {
    background: url(images/img10.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 841px;
    position: relative;
    width: 100%;
}

.group6 .text {
    background: #fff9fcbf;
    width: 100%;
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-family: 'Raleway';
    color: #304751;
}

.group6 .text .title {
    text-align: center;
    padding: 30px 0px;
}

.group6 .text .title p {
    font-family: 'Cookie Regular';
    font-size: 100px;
}

.group6 .text .title h3 {
    text-transform: uppercase;
    font-size: 50px;
    color: #ad6c12;
    margin-top: -60px;
}

.group6 .one-col {
    padding-bottom: 25px;
}

.group6 .one-col .info-food h4 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 20px;
    /* font-family: 'Raleway Bold'; */
    font-weight: bold;
}

.group6 .one-col .info-food p {
    font-size: 15px;
}

.group6 .one-col .icon {
    border-radius: 50%;
    background: #fff;
    height: 75px;
    width: 100%;
}

.group6 .one-col .icon img {
    width: 100%;
    height: 33px;
    margin-top: 20px;
}

.group7 .book-here {
    background: #2a3b40;
}

.group7 .book-here {
    color: white;
    padding-bottom: 30px;
}

.group7 .book-here .title {
    text-align: center;
    font-family: 'Cookie Regular';
    font-size: 70px;
}

.group7 .left-col, .group7 .right-col {
    padding-left: 100px;
}

.group7 .submit {
    padding-left: 78px;
}

.group7 .book-here select, .group7 .book-here input, .group7 .book-here select option{
    width: 220px;
    height: 40px;
    margin: 0px 0px 30px 0px;
    border-radius: 10px;
    padding-left: 10px;
    padding: 8px;
    outline: 0;
}

.group7 .book-here p {
    margin-bottom: 5px;
}
.group7 .error{
    color: red;
    margin-top: -20px;
    display: none;
}
.group8 img {
    width: 100%;
}

.group8 .text p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.group8 {
    background: #d4d8d9;
    width: 100%;
    padding-bottom: 50px;
    color: #555555;
    font-family: 'Raleway';
}

.group8 .img {
    padding: 0px;
}

.group8 .title {
    text-align: center;
    padding: 30px;
}

.group8 .title p {
    font-family: 'Cookie Regular';
    font-size: 100px;
}

.group8 .title h3 {
    text-transform: uppercase;
    font-size: 50px;
    color: #ad6c12;
    margin-top: -60px;
}

.group8 .one-col .text {
    background: #fff;
    padding: 30px 20px;
}

.group8 .one-col .text .time {
    font-weight: bold;
    padding-top: 15px;
}

.group8 .one-col .text .name {
    font-family: 'Raleway Bold';
    font-size: 15px;
    padding-bottom: 15px;
}

.group8 .one-col .text .read-more {
    margin-top: 24px;
    padding-bottom: 3px;
    text-transform: uppercase;
    border-bottom: 6px solid #ff992b;
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
    color: #555555;
    text-decoration: none;
    display: -webkit-inline-block;
}

.group9 {
    background: #2a3b40;
    text-align: center;
    width: 100%;
    color: white;
    padding-bottom: 30px;
    line-height: 20pt;
    font-family: 'Raleway';
}

.group9 .text {
    padding: 0px 100px;
    font-size: 17px;
}

.group9 .quotes i {
    padding: 30px;
}

.group9 .author {
    font-weight: bold;
    font-size: 35px;
    padding-top: 20px;
}

.group9 .media-icon ul {
    padding-top: 10px;
    padding-left: 0px!important;
}

.group9 .media-icon ul li {
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    margin-left: 10px;
    width: 47px;
    height: 44px;
    padding-top: 10px;
}

.group9 .media-icon ul li i {
    font-size: 25px;
    color: #2a3b40;
}

.group9 .media-icon li:hover {
    background-color: red;
}

.group9 .media-icon li:hover i {
    color: #fff;
}

.group10 {
    width: 100%;
    background: #d4d8d9;
    color: #2d2f2a;
    font-family: 'Raleway';
    padding-top: 50px;
    padding-bottom: 50px;
}

.group10 .left h3 {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: bold;
}

.group10 .left p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    line-height: 20pt;
}

.group10 .right h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: bold
}

.group10 .bold li a {
    font-weight: bold;
}

.group10 li {
    list-style: none;
    padding-bottom: 20px;
}

.group10 li a {
    color: #2d2f2a;
}

.smaller {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    background: #36525d!important;
    z-index: 5;
    width: 100%;
    position: fixed!important;
}

@media screen and (max-width: 1199px) {
    .group4 .info-food {
        padding-top: 20px!important;
    }
    .group4 .one-food .info-food h4 {
        padding-bottom: 10px;
        font-size: 18px;
    }
    .group4 .one-food .info-food p {
        padding-bottom: 0px;
        font-size: 13px;
    }
}

@media screen and (max-width: 991px) {
    .group4 .title h3 {
        font-size: 50px;
    }
    .group4 .title p {
        font-size: 30px;
    }
    .group4 .info-food {
        padding: 0px!important;
    }
    .group4 .one-food .info-food h4 {
        padding-top: 20px;
    }
    .group8 .one-col .text .read-more {
        font-size: 13px;
        margin-top: 0px;
    }
    .group8 .text p {
        font-size: 13px;
    }
    .group8 .one-col .text .name {
        font-size: 15px;
        padding-bottom: 8px;
    }
    .group8 .one-col .text .time {
        padding-top: 0px;
        font-size: 15px;
    }
    .group8 .title h3 {
        font-size: 40px;
        margin-top: -20px;
    }
    .group8 .title p {
        font-size: 60px;
    }
    .group8 .title {
        padding: 6px;
    }
    .group7 .left-col, .group7 .right-col {
        padding-left: 0px;
    }
    .group7 .submit {
        padding-left: 10px;
    }
    .group6 .one-col .icon {
        padding: 9px;
        border-radius: 50%;
        background: #fff;
        height: 56px;
        width: 100%;
    }
    .group6 .one-col .icon img {
        width: 100%;
        height: 27px;
        margin-top: 4px;
    }
}

@media screen and (max-width: 767px) {
    .group4 .title {
        margin-top: -30px!important;
    }
    .group4 .one-food {
        margin-top: 20px;
    }
    .group4 .info-food h4 {
        font-size: 20px!important;
        padding-top: 20px!important;
    }
    .group4 .info-food p {
        font-size: 20px!important;
    }
    .group4 .reverse .pic {
        order: 1;
    }
    .group4 .reverse .info-food {
        order: 2;
    }
    .group5 .img {
        display: none;
    }
    .group5 .text {
        padding-top: 30px;
    }
    .group5 .text h3 {
        padding-bottom: 20px;
    }
    .group5 .text .icon {
        padding-top: 5px;
    }
    .group6 .text {
        height: 841px;
    }
    .group6 .text .title h3 {
        font-size: 40px;
        margin-top: -25px;
        margin-top: -25px;
        padding-bottom: 20px;
    }
    .group6 .text .title p {
        font-size: 55px;
    }
    .group6 .one-col {
        padding-bottom: 15px;
    }
    .group6 .one-col .icon img {
        width: 100%;
        margin-top: 4px;
    }
    .group6 .one-col .icon {
        padding: 18px;
        height: 75px;
    }
    .group8 .one-col {
        padding-bottom: 20px;
    }
    .group10 .right {
        margin: 15px auto!important;
    }
}

@media screen and (max-width: 435px) {
    .group4 .one-food .info-food p {
        display: none;
    }
    .group4 .one-food .info-food h4 {
        padding-top: 40px!important;
    }
}

@media screen and (max-width: 1199px) {
    .group4 .info-food {
        padding-top: 20px!important;
    }
    .group4 .one-food .info-food h4 {
        padding-bottom: 10px;
        font-size: 18px;
    }
    .group4 .one-food .info-food p {
        padding-bottom: 0px;
        font-size: 13px;
    }
}

@media screen and (max-width: 991px) {
    .group4 .title h3 {
        font-size: 50px;
    }
    .group4 .title p {
        font-size: 30px;
    }
    .group4 .info-food {
        padding: 0px!important;
    }
    .group4 .one-food .info-food h4 {
        padding-top: 20px;
    }
    .group8 .one-col .text .read-more {
        font-size: 13px;
        margin-top: 0px;
    }
    .group8 .text p {
        font-size: 13px;
    }
    .group8 .one-col .text .name {
        font-size: 15px;
        padding-bottom: 8px;
    }
    .group8 .one-col .text .time {
        padding-top: 0px;
        font-size: 15px;
    }
    .group8 .title h3 {
        font-size: 40px;
        margin-top: -20px;
    }
    .group8 .title p {
        font-size: 60px;
    }
    .group8 .title {
        padding: 6px;
    }
    .group7 .left-col, .group7 .right-col {
        padding-left: 0px;
    }
    .group7 .submit {
        padding-left: 10px;
    }
    .group6 .one-col .icon {
        padding: 9px;
        border-radius: 50%;
        background: #fff;
        height: 56px;
        width: 100%;
    }
    .group6 .one-col .icon img {
        width: 100%;
        height: 27px;
        margin-top: 4px;
    }
}

@media screen and (max-width: 767px) {
    .group4 .title {
        margin-top: -30px!important;
    }
    .group4 .one-food {
        margin-top: 20px;
    }
    .group4 .info-food h4 {
        font-size: 20px!important;
        padding-top: 20px!important;
    }
    .group4 .info-food p {
        font-size: 20px!important;
    }
    .group4 .reverse .pic {
        order: 1;
    }
    .group4 .reverse .info-food {
        order: 2;
    }
    .group5 .img {
        display: none;
    }
    .group5 .text {
        padding-top: 30px;
    }
    .group5 .text h3 {
        padding-bottom: 20px;
    }
    .group5 .text .icon {
        padding-top: 5px;
    }
    .group6 .text {
        height: 841px;
    }
    .group6 .text .title h3 {
        font-size: 40px;
        margin-top: -25px;
        margin-top: -25px;
        padding-bottom: 20px;
    }
    .group6 .text .title p {
        font-size: 55px;
    }
    .group6 .one-col {
        padding-bottom: 15px;
    }
    .group6 .one-col .icon img {
        width: 100%;
        margin-top: 4px;
    }
    .group6 .one-col .icon {
        padding: 18px;
        height: 75px;
    }
    .group8 .one-col {
        padding-bottom: 20px;
    }
    .group10 .right {
        margin: 15px auto!important;
    }
}

@media screen and (max-width: 435px) {
    .group4 .one-food .info-food p {
        display: none;
    }
    .group4 .one-food .info-food h4 {
        padding-top: 40px!important;
    }
}

@media screen and (max-width: 1199px) {
    .group4 .info-food {
        padding-top: 20px!important;
    }
    .group4 .one-food .info-food h4 {
        padding-bottom: 10px;
        font-size: 18px;
    }
    .group4 .one-food .info-food p {
        padding-bottom: 0px;
        font-size: 13px;
    }
}

@media screen and (max-width: 991px) {
    .group4 .title h3 {
        font-size: 50px;
    }
    .group4 .title p {
        font-size: 30px;
    }
    .group4 .info-food {
        padding: 0px!important;
    }
    .group4 .one-food .info-food h4 {
        padding-top: 20px;
    }
    .group8 .one-col .text .read-more {
        font-size: 13px;
        margin-top: 0px;
    }
    .group8 .text p {
        font-size: 13px;
    }
    .group8 .one-col .text .name {
        font-size: 15px;
        padding-bottom: 8px;
    }
    .group8 .one-col .text .time {
        padding-top: 0px;
        font-size: 15px;
    }
    .group8 .title h3 {
        font-size: 40px;
        margin-top: -20px;
    }
    .group8 .title p {
        font-size: 60px;
    }
    .group8 .title {
        padding: 6px;
    }
    .group7 .left-col, .group7 .right-col {
        padding-left: 0px;
    }
    .group7 .submit {
        padding-left: 10px;
    }
    .group6 .one-col .icon {
        padding: 9px;
        border-radius: 50%;
        background: #fff;
        height: 56px;
        width: 100%;
    }
    .group6 .one-col .icon img {
        width: 100%;
        height: 27px;
        margin-top: 4px;
    }
}

@media screen and (max-width: 767px) {
    .group4 .title {
        margin-top: -30px!important;
    }
    .group4 .one-food {
        margin-top: 20px;
    }
    .group4 .info-food h4 {
        font-size: 20px!important;
        padding-top: 20px!important;
    }
    .group4 .info-food p {
        font-size: 20px!important;
    }
    .group4 .reverse .pic {
        order: 1;
    }
    .group4 .reverse .info-food {
        order: 2;
    }
    .group5 .img {
        display: none;
    }
    .group5 .text {
        padding-top: 30px;
    }
    .group5 .text h3 {
        padding-bottom: 20px;
    }
    .group5 .text .icon {
        padding-top: 5px;
    }
    .group6 .text {
        height: 841px;
    }
    .group6 .text .title h3 {
        font-size: 40px;
        margin-top: -25px;
        margin-top: -25px;
        padding-bottom: 20px;
    }
    .group6 .text .title p {
        font-size: 55px;
    }
    .group6 .one-col {
        padding-bottom: 15px;
    }
    .group6 .one-col .icon img {
        width: 100%;
        margin-top: 4px;
    }
    .group6 .one-col .icon {
        padding: 18px;
        height: 75px;
    }
    .group8 .one-col {
        padding-bottom: 20px;
    }
    .group10 .right {
        margin: 15px auto!important;
    }
}

@media screen and (max-width: 435px) {
    .group4 .one-food .info-food p {
        display: none;
    }
    .group4 .one-food .info-food h4 {
        padding-top: 40px!important;
    }
}

@media screen and (max-width: 354px) {
    .group6 .text .title p {
        font-size: 40px;
    }
    .group6 .text .title h3 {
        font-size: 30px;
    }
    .group6 .one-col .icon {
        padding: 9px;
        height: 53px;
    }
}

@media screen and (max-width: 521px) {
    .group6 .info-food p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 10px;
    }
    .group6 .one-col .info-food h4 {
        font-size: 15px;
    }
}

@media screen and (max-width: 474px) {
    .group5 .text p {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 768px) {
    .group1 .text h3 {
        font-size: 65px;
    }
    .group3 {
        padding-bottom: 20px;
    }
    .group3 .col1 {
        padding-bottom: 0px;
    }
    .group3 .icon, .group3 h3 {
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 992px) {
    .group1 .navbar {
        background: #36525d;
        padding-top: 20px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        border: none;
    }
    .group1 .navbar-brand {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .smaller {
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }
}